{% extends "base.html" %}

{% block title %}Registracija{% endblock %}

{% block content %}
<h1>Registracija</h1>

{% if error %}
    <p>Klaida: {{ error }}</p>
{% endif %}

<form method="POST" action="{{ url_for('sign_up_student') }}">
    <fieldset>
        <legend>Mokinio duomenys</legend>
        <p>
            <label for="first_name">Vardas:</label><br>
            <input type="text" id="first_name" name="first_name" required>
        </p>
        
        <p>
            <label for="second_name">Antras vardas:</label><br>
            <input type="text" id="second_name" name="second_name">
        </p>
        
        <p>
            <label for="last_name">Pavardė:</label><br>
            <input type="text" id="last_name" name="last_name" required>
        </p>
        
        <p>
            <label for="date_of_birth">Gimimo data:</label><br>
            <input type="date" id="date_of_birth" name="date_of_birth" required>
        </p>
        
        <p>
            <label for="student_email">El. paštas:</label><br>
            <input type="email" id="student_email" name="student_email" required>
        </p>

        <p>
            <label for="class">Kurioje klasėje šiuo metu mokotės?</label><br>
            <input type="text" id="class" name="class" required>
        </p>

        <p>
            <label for="subjects">Kokius dalykus norėsite mokytis mūsų platformoje? (atskirkite kableliais)</label><br>
            <input type="text" id="subjects" name="subjects" placeholder="Matematika, Fizika" required>
        </p>
        
        <p>
            <label for="password">Slaptažodis:</label><br>
            <input type="password" id="password" name="password" required>
        </p>

        <p>
            <label for="phone_number">Mokinio tel. numeris:</label><br>
            <input type="text" id="phone_number" name="phone_number">
        </p>
    </fieldset>

    <fieldset>
        <legend>Tėvų (globėjų) duomenys</legend>
        <p>
            <label for="parents_email">Tėvų (globėjų) el. paštas:</label><br>
            <input type="email" id="parents_email" name="parents_email" required>
        </p>

        <p>
            <label for="parents_phone_numbers">Tėvų (globėjų) tel. numeriai (atskirkite kableliais):</label><br>
            <input type="text" id="parents_phone_numbers" name="parents_phone_numbers" placeholder="+37060012345, +37061234567" required>
        </p>
    </fieldset>
    
    <p>
        <input type="submit" value="Registruotis">
    </p>
</form>

{% endblock %}