{% extends "base.html" %}
{% set back_url = url_for('view_student', student_id=student._id) %}
{% block title %}Mokėjimai nuo {{ student_id }} {% endblock %}

{% block content %}
<div class="container py-4">
    <h3 class="mb-4">Jūsų atlikti mokėjimai: </h3>

    {% if payments %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Laikas</th>
                    <th>Adresatas</th>
                    <th>Mokėjimo suma</th>
                </tr>
            </thead>
            <tbody>
                {% for p in payments %}
                <tr>
                    <td>{{ p.time_payment }}</td>
                    <td>{{ p.tutor_name}}</td>
                    <td>{{ p.payment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">Mokėjimų nerasta.</div>
    {% endif %}
</div>
{% endblock %}
